name: CI

on: [push]

jobs:
  build:
    
    runs-on: macOS-latest

    steps:
    - name: Checkout current branch
      uses: actions/checkout@master
    - name: Install gems
      run: bundle install
    - name: Select Xcode
      run: xcversion select --symlink 11.0
    - name: Build app and run unit tests
      run: bundle exec fastlane beta _run
